{% extends 'base.html' %}
{% block content %}

<h1 class="text-info">Welcome Home</h1>
<h4>This is a default home page</h4>
<h5></h5>
<p class="par1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur eum maiores officia quos rerum? Aspernatur, assumenda autem culpa deserunt distinctio dolorem dolorum fuga illum minus molestiae nisi nulla perferendis perspiciatis, quam sapiente similique unde veniam! Adipisci hic impedit incidunt totam! Accusamus, aliquam, eaque! Ab alias beatae, consequuntur corporis debitis dolorem harum illo modi necessitatibus nisi obcaecati quo recusandae reprehenderit sed sunt vero voluptatibus. Adipisci, aperiam culpa cupiditate doloremque enim eveniet fugit maiores necessitatibus nostrum qui, quia rem, repudiandae voluptate.</p>
<table class="tab1">
    <th>Name</th>
    <th>stream</th>
    <th>gender</th>
    <tr>
        <td>Wessy</td>
        <td>south</td>
        <td>male</td>
    </tr>
    <tr>
        <td>Nellie</td>
        <td>North</td>
        <td>female</td>
    </tr>
    <tr>
        <td>Terry</td>
        <td>East</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Glenn</td>
        <td>West</td>
        <td>Male</td>
    </tr>

</table>
{% endblock %}