{% extends 'base.html' %}

{% block content %}
<h1>This is the Log out page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt dignissimos eligendi illo, molestiae nobis perferendis quae quam sit voluptas! Consequatur, cum doloribus expedita neque nostrum quasi saepe ullam veniam. Corporis eius excepturi incidunt nihil! Atque consequuntur error id iusto placeat quas, velit. Ab aliquam delectus eligendi hic. Eum, sint.</p>
<button CLASS="btn btn-success">LOGOUT</button>
{% endblock %}