{% extends 'base.html'%}
{% block content %}
<h1>Please do registration on this page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic illo nam nemo. Atque, blanditiis cum deserunt dignissimos eius eum explicabo, labore minus nam neque obcaecati, qui repudiandae soluta tempore unde. Ad cum dolorem doloremque est ex, exercitationem, explicabo facere id iusto magnam magni maxime placeat porro rerum saepe soluta?</p>
<button class="btn btn-success">REGISTER HERE</button>
{% endblock %}
